<li>
  <div class="users_list_gravatar"><%=  gravatar_for user, :size => 50 %></div>
  <div class="users_list_username">
    <%= link_to user.name, user %>
    <% if current_user.admin? %>
      (<%= link_to 'Delete', user, :method => :delete %>)
    <% end %>
  </div>
  <div class="clear"></div>
</li>
