<% if signed_in? %>
  <%= render 'shared/post_form' %>
  <%= render 'shared/feed' %>
<% else %>
  <h1>Welcome to Small Tweet!</h1>
  <p>
    Welcome to the Small Tweet App. Please <%= link_to "sign up", signup_path %> to post tweets.
  </p>
<% end %>
