/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

@import "normalize.css.scss";
@import "basic.css.scss";
@import "layout.css.scss";
@import "pages.css.scss";
@import "users.css.scss";

.user_profile {
  width: 300px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 30;
  text-align: left;
  background-color: #999;
}
