$base-violet: #330033;
$base-violet-dark: darken($base-violet, 20%);
$base-font-color-on-white: #2a2a2a;
$base-font-color-on-dark: #ffffff;

$default-padding: 10px;

@mixin rounded-corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

body {
  color: $base-font-color-on-dark;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

a, a:visited {
  color: $base-violet;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 1.3em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.167em;
  line-height: 1.3em;
}

.clear {
  clear: both;
}

.errors_container {
  @include rounded-corners;
  padding: $default-padding;
  margin: 10px 0;
  border: 1px solid #E61310;
  background: #cc0000;
  background: -moz-linear-gradient(top, #cc0000 0%, #cc0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000));
  background: -webkit-linear-gradient(top, #cc0000 0%,#cc0000 100%);
  background: -o-linear-gradient(top, #cc0000 0%,#cc0000 100%);
  background: -ms-linear-gradient(top, #cc0000 0%,#cc0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 );
  background: linear-gradient(top, #cc0000 0%,#cc0000 100%);
  color: #fff;
}
