body {
  background: #000;
}

.centered {
  width: 980px;
  margin: auto;
  position: relative;
}

header {
  background-color: $base-violet;
  text-align: center;

  h1 {
    font-size: 1.5em;
    line-height: 2em;
    color: #fff;
    float: left;
  }
}

nav {
  float: left;

  ul {
    text-align: left;

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a, a:visited {
      color: #fff;
      display: block;
    }
  }
}

section {
  background: #fff;
  padding: $default-padding;
  color: $base-font-color-on-white;

  h1 {
    clear: both;
  }
}

footer {
  padding: $default-padding;
}

.user_stats {
  .user_gravatar {
    float: left;
    margin-right: 10px;
  }

  .user_profile_name {
    /* display: inline; */
  }

  .following, .followers {
    
  }
}
